:root{
    /*primary color*/
    --purple-600: hsl(246, 80%, 60%);
    --orange-300: hsl(15, 100%, 70%);
    --blue-300: hsl(195, 74%, 62%);
    --pink-400: hsl(348, 100%, 68%);
    --green-400: hsl(145, 58%, 55%);
    --purple-700: hsl(264, 64%, 52%);
    --yellow-300: hsl(43, 84%, 65%);

    /*neutral color*/
    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --navy-800: #33397A;
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);

    /*primary typography*/
    --font-primary: "Rubik", sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

    /*text preset 1*/
    --text-1-size: 56px;
    --text-1-line-height: 66px;

    /*text preset 2*/
    --text-2-size: 40px;
    --text-2-line-height: 47px;

    /*text preset 3*/
    --text-3-size: 32px;
    --text-3-line-height: 38px;

    /*text preset 4*/
    --text-4-size: 24px;
    --text-4-line-height: 28px;

    /*text preset 5*/
    --text-5-size: 18px;
    --text-5-line-height: 21px;

    /*text preset 6*/
    --text-6-size: 15px;
    --text-6-line-height: 18px;
}