.text-preset-1{
    font-size: var(--text-1-size);
    font-weight: var(--fw-light);
    line-height: var(--text-1-line-height);
}

.text-preset-2{
    font-size: var(--text-2-size);
    font-weight: var(--fw-light);
    line-height: var(--text-2-line-height);
}

.text-preset-3{
    font-size: var(--text-3-size);
    font-weight: var(--fw-light);
    line-height: var(--text-3-line-height);
}
.text-preset-4{
    font-size: var(--text-4-size);
    font-weight: var(--fw-light);
    line-height: var(--text-4-line-height);
}

.text-preset-5-medium{
    font-size: var(--text-5-size);
    font-weight: var(--fw-medium);
    line-height: var(--text-5-line-height);
}

.text-preset-5-regular{
    font-size: var(--text-5-size);
    font-weight: var(--fw-regular);
    line-height: var(--text-5-line-height);
}

.text-preset-6{
    font-size: var(--text-6-size);
    font-weight: var(--fw-regular);
    line-height: var(--text-6-line-height);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    background-color: var(--navy-950);
}