.text-preset-1{
    font-size: var(--text-1-size);
    font-weight: var(--fw-light);
    line-height: var(--text-1-line-height);
}

.text-preset-2{
    font-size: var(--text-2-size);
    font-weight: var(--fw-light);
    line-height: var(--text-2-line-height);
}

.text-preset-3{
    font-size: var(--text-3-size);
    font-weight: var(--fw-light);
    line-height: var(--text-3-line-height);
}
.text-preset-4{
    font-size: var(--text-4-size);
    font-weight: var(--fw-light);
    line-height: var(--text-4-line-height);
}

.text-preset-5-medium{
    font-size: var(--text-5-size);
    font-weight: var(--fw-medium);
    line-height: var(--text-5-line-height);
}

.text-preset-5-regular{
    font-size: var(--text-5-size);
    font-weight: var(--fw-regular);
    line-height: var(--text-5-line-height);
}

.text-preset-6{
    font-size: var(--text-6-size);
    font-weight: var(--fw-regular);
    line-height: var(--text-6-line-height);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    background-color: var(--navy-950);
    max-width: 1116px;
    margin: 0 auto;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
}

.activity-card{
    border-radius: 15px;
    /*background-color: var(--navy-900);*/
}

.profile-card{
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    background-color: var(--navy-900);
}

.profile-card--info{
    background-color: var(--purple-600);
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 15px;
    padding: 32px 0 92px 32px;
}

.profile-card--avatar img{
    width: 78px;
    height: 78px;
    border: 3px solid white;
    border-radius: 50%;
}

.profile-card--name p{
    color: var(--navy-200);
}

.profile-card--name h5{
    font-size: var(--text-2-size);
    font-weight: var(--fw-light);
    line-height: var(--text-2-line-height);
}

.profile-card--menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 28px 0 0 32px;
    color: var(--purple-500);
}

.activity-card--work, .activity-card--play, .activity-card--study, .activity-card--exercise, .activity-card--social, .activity-card--self-care{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.activity-card--icon{
    display: flex;
    justify-content: end;
    overflow: hidden;
    height: 80px;
}

.activity-card-work--icon{
    background-color: var(--orange-300);
}


.activity-card-work--content, .activity-card-play--content, .activity-card-study--content, .activity-card-exercise--content, .activity-card-social--content, .activity-card-self-care--content{
    background-color: var(--navy-900);
    padding: 32px;
    margin-top: -20px;
    border-radius: 15px;
    flex-grow: 1;
}

.activity-card-work--header, .activity-card-play--header, .activity-card-study--header, .activity-card-exercise--header, .activity-card-social--header, .activity-card-self-care--header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activity-card-work--menu{
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.activity-card--time{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.activity-card--current{
    margin-top: 24px;
    font-size: var(--text-1-size);
    font-weight: var(--fw-light);
    line-height: var(--text-1-line-height);
}

.activity-card--previous{
    color: var(--navy-200)
}

.activity-card-play--icon{
    background-color: #55C2E6;
}

.activity-card-study--icon{
    background-color: #FF5E7D;
}

.activity-card-exercise--icon{
    background-color: #4BCF82;
}

.activity-card-social--icon{
    background-color: #7335D2;
}

.activity-card-self-care--icon{
    background-color: #F1C75B;
}

@media (max-width: 768px) {
    .container{
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    .profile-card--info{
        flex-direction: row;
        align-items: center;
        gap: 24px;
        padding: 32px 0 32px 32px;
    }

    .profile-card--menu{
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        padding: 24px 0;
    }

    .profile-card--menu li{
        padding: 8px 20px;
    }

    .profile-card{
        grid-area: 1/1/2/4;
    }

}

@media (max-width: 576px) {
    main{
        padding: 16px 0;
    }
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .profile-card--menu{
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
    }

    .profile-card--info{
        padding-right: 32px;
    }

    .profile-card--name h5{
        font-size: var(--text-4-size);
        font-weight: var(--fw-light);
        line-height: var(--text-4-line-height);
    }
    .activity-card--time{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .profile-card{
        grid-area: auto;
    }


    .activity-card-work--content, .activity-card-play--content, .activity-card-study--content, .activity-card-exercise--content, .activity-card-social--content, .activity-card-self-care--content{
        padding: 24px;
    }

    .activity-card--current{
        margin-top: 0;
        font-size: var(--text-3-size);
        font-weight: var(--fw-light);
        line-height: var(--text-3-line-height);
    }
}